# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Vite / TypeScript cache
*.local
.tsbuildinfo
node_modules/.tmp/

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Env
.env
.env.local
.env.*.local
